
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <link rel="stylesheet" type="text/css" href={% static 'LoginUser/css/success/sucStyles.css'%}>
</head>

<body>
    <div class="container">
        <h1>Your portfolio is built successfully</h1>
        <h2>
            <a target="_blank" href="http://127.0.0.1:8000/portfolioForId/{{ block.url|urlencode }}/" class="portfolio-link">Portfolio Link</a>
        </h2>

        <a href="/" class="edit-link">Go to Edit Page</a>
    </div>
</body>

</html>
